<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../layout/header.ejs')%>

    <main>
 <% suhaib.forEach(info =>{ %>
    <h1><%=info.character%></h1>
    <img src="<%=info.image%>" alt="">
    <p><%=info.quote%></p>
    <p><%=info.characterDirection%></p>

    <form action="/update/<%=info.id%>?_method=put" method="POST">
        <input type="text" name="character" value="<%=info.character%>">
        <input type="text" name="image" value="<%=info.image%>">
        <input type="text" name="quote" value="<%=info.quote%>">
        <input type="text" name="characterDirection" value="<%=info.characterDirection%>">
    
        <button type="submit">update</button>
        </form>
        <form action="/delete/<%=info.id%>?_method=delete" method="POST">
<button type="submit">delete fuckin character</button>
        </form>


 <% }) %>

    </main>
    
</body>
</html>