<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../layout/header.ejs')%>

    <main>
 <% suhaib.forEach(info =>{ %>
    <h1><%=info.character%></h1>
    <img src="<%=info.image%>" alt="">
    <p><%=info.quote%></p>
    <p><%=info.characterDirection%></p>

   <a href="/viewdetail/<%=info.id%>">details</a>

 <% }) %>

    </main>
    
</body>
</html>