<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <%-include('../layout/header.ejs')%>
    </header>
    <main>
<%suhaib.forEach(info =>{%>

    <div>
    <p><%=info.name%></p>
    <img src="<%=info.image%>" alt="">
    <p><%=info.house%></p>
    <p><%=info.alive%></p>

    

    <form action="/saveDataBASE" method="POST">
   <input type="hidden" value="<%=info.name%>" name="name">
   <input type="hidden" value="<%=info.image%>" name="image">
   <input type="hidden" value="<%=info.house%>" name="house">
   <input type="hidden" value="<%=info.alive%>" name="alive">
<button type="submit">add to fav</button>
    </form>
</div>
<%})%>

    </main>
    
</body>
</html>